@import "~bootstrap/scss/bootstrap.scss";

$font-size: 6px;
$line-height: 8px;

html, body, #app-main {
    height: 100%;
    font-size: $font-size;
    line-height: $line-height;
}

@function span($width) {
  @return calc(8.333% * $width);
}

@function vr($height) {
    @return $line-height * $height;
}

.content {
    margin-top: 50px;
}